body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background-color: #2d2c2c;
  color: #959090;
}

ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

.todo h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #eee;
}

.todo p {
  margin: 0.5rem 0 0 0;
  color: #999;
}
